<form #signupForm = "ngForm" (ngSubmit)="AddStudent()">
  <br>
  <div class="form-group">
    <label>Name</label>
    <input name='name' class="form-control" placeholder="Enter name" type="text" [formControl]="studentName">

    <label>Age</label>
    <input type="number" class="form-control"  placeholder="Enter age" [formControl]="studentAge">
  </div>
  <div class="form-group">
  <label>Gender</label>
  <input type="text" class="form-control"   placeholder="Enter gender" [formControl]="studentGender">
</div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
<br>
<button class="btn btn-primary" (click)="updateStudent()">update</button>


<div class="container" >
  <div class="row" >
    <div class="col-sm" *ngFor="let students of studentsArray; let i = index;">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="mainImage" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{students.name}}</h5>
          <p class="card-text">{{students.age}}</p>
          <p class="card-text">{{students.gender}}</p>
          <button class = "btn btn-primary" (click) = "selectStudent(i)">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
